body {
    background-color: #FDFDFD;
}

h1 {
    text-align: center;
}

.vertical-menu {
    width: 200px;
    text-align: center;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
  }

.member-space {
  min-height: 1px;
}

.quiz-row {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.quizzes-content {
  width: 100px;
}
